@model IEnumerable<RoomticaFrontEnd.Models.ProductoDTOModel>
@{
    ViewData["Title"] = "Listar Caracteristicas Habitacion";
}
<h1>Listar Caracteristicas Habitacion</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Unidad</th>
                <th>Categoria</th>
                <th>Cantidad</th>
                <th>Precio Unidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.unidad</td>
                    <td>@item.categoria</td>
                    <td>@item.Cantidad</td>
                    <td>@item.precioU</td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Crear">Crear Nueva Caracteristica Habitacion</a>
</div>
