@using RoomticaFrontEnd.Models  
@using System.Linq  

@{  
   ViewData["Title"] = "Home Page";  

   // Convertir ViewBag.habitaciones a un tipo explícito antes de agrupar  
   var habitaciones = (IEnumerable<HabitacionDTOModel>)ViewBag.habitaciones;  
   var habitacionesPorPiso = habitaciones.GroupBy(h => h.piso);  
}  
<div class="container-xl">
    <div class="py-2">
        <div class="my-2">
            <p class="text-start">Bienvenido @(((RoomticaFrontEnd.Models.TrabajadorModel)Context.Items["trabajador"])?.id_rol == 1 ? "Administrador" : "")  @(((RoomticaFrontEnd.Models.TrabajadorModel)Context.Items["trabajador"])?.primer_nombre) @(((RoomticaFrontEnd.Models.TrabajadorModel)Context.Items["trabajador"])?.primer_apellido)</p>
            <hr />
               </div>
        <div class="my-2">
            <h1 class="text-center">Habitaciones</h1>
        </div>

        <div class="my-2">
            @foreach (var grupo in habitacionesPorPiso)
            {
                <div class="my-5">
                    <h3>Piso @grupo.Key</h3>
                    <div class="d-flex gap-5 align-items-center flex-wrap">
                        @foreach (var habitacion in grupo)
                        {
                            <div class="col-md-4 d-flex">
                                <div class="card p-1 flex-fill shadow">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Habitación @habitacion.numero</h5>
                                        <p class="card-text">Tipo: @habitacion.id_tipo</p>
                                        <p class="card-text">Precio Diario: $@habitacion.precio_diario</p>
                                        <button class="btn @(habitacion.id_estado == "Disponible" ? "btn-primary" : "btn-danger") rounded">
                                            @habitacion.id_estado
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
           