@model RoomticaFrontEnd.Models.ClienteDTOModel

@{
    ViewData["Title"] = "Detalles del Cliente";
}

<h2>@ViewData["Title"]</h2>

<div class="container mt-4">  
 <h2>Detalles del Cliente</h2>  
 <div class="card">  
     <div class="card-body">  
         <h4 class="card-title">Información Personal</h4>  
         <p class="card-text"><strong>ID:</strong> @Model.Id</p>
            <p class="card-text"><strong>Primer Nombre:</strong> @Model.primer_nombre</p>
            <p class="card-text"><strong>Segundo Nombre:</strong> @Model.segundo_nombre</p>
            <p class="card-text"><strong>Primer Apellido:</strong> @Model.primer_apellido</p>
            <p class="card-text"><strong>Segundo Apellido:</strong> @Model.segundo_apellido</p>
            <p class="card-text"><strong>Tipo de Documento:</strong> @Model.id_tipo_documento</p>
            <p class="card-text"><strong>Número de Documento:</strong> @Model.numero_documento</p>
            <p class="card-text"><strong>Teléfono:</strong> @Model.telefono</p>
            <p class="card-text"><strong>Email:</strong> @Model.email</p>
            <p class="card-text"><strong>Fecha de Nacimiento:</strong> @Model.fecha_nacimiento</p>
            <p class="card-text"><strong>Nacionalidad:</strong> @Model.id_tipo_nacionalidad</p>
            <p class="card-text"><strong>Sexo:</strong> @Model.id_tipo_sexo</p>
        </div>  
    </div>
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Listar" class="btn btn-secondary">Volver al listado</a>
    </div>
</div>


