@model IEnumerable<RoomticaFrontEnd.Models.HabitacionDTOModel>
@{
    ViewData["Title"] = "Listar Habitacion";
}
<h1>Listar Habitacion</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>numero</th>
                <th>Piso</th>
                <th>Precio Diario</th>
                <th>Id Tipo</th>
                <th>Id Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.numero</td>
                    <td>@item.piso</td>
                    <td>@item.precio_diario</td>
                    <td>@item.id_tipo</td>
                    <td>@item.id</td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@item.id">Editar</a>
                        <a asp-action="Editar" asp-route-id="@item.id">Editar</a> |
                        <a asp-action="Eliminar" asp-route-id="@item.id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Crear">Crear Nueva Caracteristica Habitacion</a>
</div>
