@model IEnumerable<RoomticaFrontEnd.Models.ReservaEstacionamientoDTOModel>
@{
    ViewData["Title"] = "Listar Reservas Estacionamientos";
}
<h1>Listar Reservas Estacionamientos</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id Reserva</th>
                <th>Id Estacionamiento</th>
                <th>Cantidad</th>
                <th>Precio Estacionamiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id_reserva</td>
                    <td>@item.id_estacionamiento</td>
                    <td>@item.cantidad</td>
                    <td>@item.precio_estacionamiento</td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@item.id_reserva">Editar</a>
                        <a asp-action="Editar" asp-route-id="@item.id_reserva">Editar</a> |
                        <a asp-action="Eliminar" asp-route-id="@item.id_reserva">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Crear">Crear Nueva Caracteristica Habitacion</a>
</div>
