@model IEnumerable<RoomticaFrontEnd.Models.EstacionamientoDTOModel>
@{
    ViewData["Title"] = "Listar Estacionamiento";
}
<div class="container-xl">
    <h2>Listado de Estacionamiento</h2>
    <p class="my-2">
        <a asp-action="Create" class="btn btn-primary">
            Nuevo Caracteristica Habitacion
        </a>
    </p>
    <form asp-action="Listar">
        <div class="col-md-4 d-flex align-items-center my-2">
            <label for="nombre" class="label-form me-2">Nombre</label>
            <input type="text" id="nombre" name="nombre" value="@ViewBag.nombre" class="form-control me-2" />
            <input type="submit" class="btn btn-secondary mt-1 mb-1" value="Buscar" />
        </div>
    </form>
    <div class="my-2">
        <span class="text-danger fw-bold ">@ViewBag.mensaje</span>
    </div>
    <div class="my-2">
        <span>Cantidad de Caracteristicas de Habitacion: @Model.Count()</span>
    </div>
    <div class="table-responsive">
        <table class="table w-100 table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.id)</th>
                    <th>@Html.DisplayNameFor(model => model.lugar)</th>
                    <th>@Html.DisplayNameFor(model => model.largo)</th>
                    <th>@Html.DisplayNameFor(model => model.alto)</th>
                    <th>@Html.DisplayNameFor(model => model.ancho)</th>
                    <th>@Html.DisplayNameFor(model => model.tipo_estacionamiento)</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.lugar</td>
                        <td>@item.largo</td>
                        <td>@item.alto</td>
                        <td>@item.ancho</td>
                        <td>@item.tipo_estacionamiento</td>
                        <td>
                            <div class="d-flex gap-2 align-items-center justify-content-center">
                                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.id">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.id">
                                    <i class="bi bi-info-square-fill"></i>
                                </a>
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.id">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center gap-2">
        @for (int i = 0; i < ViewBag.pags; i++)
        {
            <a asp-action="Listar" asp-route-p=@i asp-route-nombre="@ViewBag.nombre"
               class=@(i == ViewBag.p ? "btn btn-success" : "btn btn-primary")>
                @(i + 1)
            </a>
        }
    </div>
</div>